<html>
<body>
    <p>Olá, estou louca !!!!</p>
    <p>Mas quero continuar .....</p>
</body>
</html>

<html>
    <head>
        <title>Maternidade</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Desafios do dia a dia </a></h2>
            <p>eu posso começar e mesmo que dificil não desistir, eu sei que passaremos por coisas que não imaginamos,mas o conhecimento adquirido será único.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Como cheguei ate aqui e Como continuar ?</a></h2>
            <p>No pares nunca de sonhar.... </p>
        </div>
    </body>
</html>